.logo {
  display : flex;
  align-items: center;
}

.logoImg img {
  transform: scale(0.9);
}

.logoText {
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-left: 0.4rem;
  font-family: 'Outfit', sans-serif;
}